//Colors
$mint-green:#8DD3BB; //Mint Green
$blackish-green: #112211; //Blackish Green
$slamon:#FF8682; // Slamon
$neutrals: #FFFFFF; // Neutrals
$mint-green-light:#9BE0C8;
$mint-green-extra-light:#A5EBD3;

$font-trade:'TradeGothic LT Extended';
$font-mont: 'Montserrat', sans-serif;